input{
    text-align: center;
    
}
body{
    text-align: center;
    padding: 300px;

    background-image: linear-gradient(to right,rgb(0, 0, 0),rgb(6, 121, 11));
color: rgb(255, 255, 255);
}
p{
    font-size: 30px;
    color: rgb(255, 0, 0);
    font-size: 60px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h3{
    color: rgb(255, 0, 0);
    font-size: 90px;
    background-image: -moz-linear-gradient();
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}
button{
    color: rgb(255, 0, 0);
    border-radius: 30px;
    background-color: black;
    
}
input{
    border-color: rgb(255, 0, 0);
    border-radius: 30px;
    background-color: rgb(28, 138, 13);
}